html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1rem;
}

body.on-joystick-view {
  background: linear-gradient(to bottom,  #1e5799 0%,#207cca 34%,#7db9e8 100%);
}

body.on-scripting-view {
  background-color: #000;
  color: #eee;
}

button, input[type="text"], textarea {
  font-size: 1rem;
}

#joystickArea {
  height: 100%;
  width: 100%;
}

#info {
  width: 100%;
  position: absolute;
  top:0;
  color: #dddddd;
}

#info > .left {
  float: left;
}

#info > .right {
  float: right;
}

.toolbar {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #dddddd;
}

.toolbar > button {
  height: 25px;
}

#connect, #status {
  float: right;
}

.half {
  position: absolute;
  width: calc(50% - 2rem);
}

.half > button {
  font-size: 1rem;
}

.left {
  left: 1rem;
}

.right {
  left: calc(50% + 1rem);
}

#script {
  width: 100%;
  height: 70%;
}

#gist-id {
  height: 2rem;
  width: 60%;
}

.hidden {
  display: none;
}
